@model IEnumerable<DeliveryBookingProject.Models.Customer>

@{
    ViewData["Title"] = "CustomerRequests";
}

<h1>Customer Requests</h1>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsVerified)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @using (Html.BeginForm("EditCustomerRequest", "Admin",new {Id=item.CustomerId },FormMethod.Post))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>

                        <td>
                            <select class="form-control" name="IsVerified">
                                <option>@Html.ValueFor(modelItem => item.IsVerified)</option>
                                <option>Verified</option>
                                <option>Rejected</option>
                            </select>
                        </td>
                        <td>
                            <input type="submit" class="btn btn-primary" value="Update" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h4>No More Customer's</h4>
}