@model IEnumerable<DeliveryBookingProject.Models.DeliveryExecutive>

@{
    ViewData["Title"] = "ExecutiveDetails";
}

<h1>Executive Details</h1>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExecutiveId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExecutiveName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsVerified)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @using (Html.BeginForm("ExecutiveProfile", "Admin", new { Id = item.ExecutiveId }))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.ExecutiveId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExecutiveName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsVerified)
                        </td>
                        <td>
                            <input type="submit" name="Details" value="Details" />
                        </td>
                     }
                </tr>
             }
        </tbody>
    </table>
}
else
{
    <h4>No More Executive's</h4>
}