@model DeliveryBookingProject.Models.DeliveryBooking

@{
    ViewData["Title"] = "BookingDetailById";
}
@{ 
    Layout = "_Layout";
}
<script src="~/js/site.js"></script>
<link rel="stylesheet" href="~/css/site.css" />
<h1>Request Information</h1>

<div>
    <hr />
    @if(Model!= null)
    {
        @using (Html.BeginForm("EditRequests", "Executive", FormMethod.Post))
        {
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.OrderDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PickUpDateTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.PickUpDateTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Address:")
                </dt>
                <dd class="col-sm-10">
                    @Html.TempData.Peek("Address").ToString()
                    @Html.TempData.Peek("City").ToString()
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.BookingStatus)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.BookingStatus)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.WeightOfPackage)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.WeightOfPackage)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                   Rs. @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Request Message")
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Message)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayName("Response Message")
                </dt>
                <dd class="col-sm-10">
                    @Html.TextAreaFor(model => model.ResMessage)
                </dd>
                @{
                    TempData["Id"] = Html.ValueFor(model=>model.OrderId);
                }
            </dl>
            <div>
                <input type="submit" name="accept" value="Accept" class="btn btn-success" />
                <input type="submit" name="reject" value="Reject" class="btn btn-danger" />
            </div>
         }
    }
    else
    {
        <script>
            alert("No Found Your Details");
        </script>
        <h4>No Found Your Details</h4>
    }
</div>


