@model DeliveryBookingProject.Models.DeliveryBooking

@{
    ViewData["Title"] = "BookingDetailById";
}

<h1>BookingDetailById</h1>

<div>
    <h4>DeliveryBooking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExecutiveId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExecutiveId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Message)<br/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightOfPackage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightOfPackage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="BookingStatus" class="btn btn-primary btn-large">Back to List</a>
</div>
