@model IEnumerable<DeliveryBookingProject.Models.DeliveryExecutive>

@{
    ViewData["Title"] = "BookingExecutive";
}

<h1>BookingExecutive</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExecutiveName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.Display("Booking")
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutiveName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @{
                    TempData["ExecutiveID"] = @Html.ValueFor(modelItem => item.ExecutiveId);
                }
                <a asp-action="AddBooking" asp-controller="DeliveryBook" class="btn btn-primary btn-large">Select</a>
            </td>
        </tr>
}
    </tbody>
</table>
