@model DeliveryBookingProject.Models.DeliveryBooking

@{
    ViewData["Title"] = "BookingDetailById";
}
<link rel="stylesheet" href="~/css/site.css" />
<h1>Booking Details</h1>

<div>
    <hr />
    @if (Model != null)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ExecutiveId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExecutiveId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.OrderDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.OrderDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PickUpDateTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PickUpDateTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BookingStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BookingStatus)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Message)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Message)
            </dd>
            @if (Model.ResMessage != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ResMessage)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ResMessage)
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.WeightOfPackage)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WeightOfPackage)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    }
    else
    {
        <h4>No More Details</h4>
    }
</div>
