@model IEnumerable<DeliveryBookingProject.Models.DeliveryExecutive>

@{
    ViewData["Title"] = "BookingExecutive";
}

<h1>Booking Executive</h1>
@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExecutiveName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.Display("Booking")
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @using (Html.BeginForm("AddBooking", "DeliveryBook", new { Id = item.ExecutiveId }))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.ExecutiveName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        <input type="submit" class="btn btn-primary" value="Select" />
                    </td>
                }
            </tr>
             }
        </tbody>
    </table>
}
else
{
    <h4>Not Available Delivery Executive From Your City</h4>
}