@model DeliveryBookingProject.Models.DeliveryExecutive

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<div>
    <h4>DeliveryExecutive</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExecutiveName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExecutiveName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsVerified)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("ChangeProfile", "EditExecutiveInfo") |
    @Html.ActionLink("CustomersRequests", "BookingRequests") |
    @Html.ActionLink("Booking Status", "BookingStatus") |
    @Html.ActionLink("Booking Details", "BookingDetails") |
</div>
